@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  font-family: "Lato", sans-serif;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 98vh;
}

.container {
  margin: 3%;
  background-color: white;
  font-family: "Lato", sans-serif;
  font-size: 90%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  height: 90vh;
  align-items: center;
  gap: 5%;
}

.container .card, .container .result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 80vh;
  background-color: #c3c3c3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3%;
  margin: 3%;
  color: #383838;
  border-radius: 5%;
  gap: 0%;
}

.container .card .img1, .container .result .img1 {
  width: 60%;
  padding: 5%;
  border-radius: 15%;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.container .card .img1:hover, .container .result .img1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.container .card .cardtext, .container .result .cardtext {
  height: 50%;
  width: 60%;
  color: #383838;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5%;
}

.container .card .cardtext .selector, .container .result .cardtext .selector {
  height: 100%;
  border-radius: 5%;
}

.container .card .price, .container .result .price {
  font-weight: 900;
  font-size: 150%;
}

.container .card .colorselector, .container .result .colorselector {
  height: 80%;
  border-radius: 5%;
}

.container .card .cant1, .container .result .cant1 {
  height: 70%;
  border-radius: 5%;
}

.container .btn {
  background-color: #d93b3b;
  border-color: #d93b3b;
  color: white;
  width: 60%;
  border-radius: 5%;
  padding: 3%;
  font-weight: 900;
  font-size: 120%;
  -webkit-transition: color .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
  transition: color .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
}

.container .btn:hover {
  -webkit-box-shadow: inset 250px 0 0 0 green;
          box-shadow: inset 250px 0 0 0 green;
  color: white;
  border-color: green;
}

.container .result {
  width: 60%;
  height: 50%;
  font-size: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 900;
}

.container .result .pricetext {
  color: black;
  font-weight: bolder;
  font-size: 130%;
}

.container .colorselected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .finalcolor {
  width: 25px;
  height: 25px;
  background-color: #f6f1f1;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 200px) and (max-width: 600px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    height: 90vh;
    margin-top: 15vh;
    margin-bottom: 10vh;
    gap: 2vh;
  }
  .price {
    font-weight: 900;
    font-size: 90%;
  }
  .btn {
    background-color: #d93b3b;
    border-color: #d93b3b;
    color: white;
    width: 60%;
    border-radius: 5%;
    padding: 1%;
    font-weight: 900;
    font-size: 100%;
    margin-bottom: 5%;
  }
  .head {
    font-size: 80%;
  }
}
/*# sourceMappingURL=style.css.map */